---
import { Card } from "@/ui/card";
import { Skeleton } from "@/ui/skeleton";
import { ChevronLeftIcon, ChevronRightIcon } from "lucide-react";
const numberOfRows = 5;
const numberOfCols = 6;
const calendarPlaceholder = Array.from({ length: numberOfRows }, (_, row) =>
  Array.from({ length: numberOfCols }, (_, col) => ({
    row,
    col,
  }))
);

const ignoredDates = [
  { row: 0, col: 0 },
  { row: 0, col: 1 },
  { row: numberOfRows - 1, col: numberOfCols - 1 },
];

const draw = (cell: { row: number; col: number }) =>
  !ignoredDates.find((i) => i.row === cell.row && i.col === cell.col);

console.log(calendarPlaceholder);
---

<div class="calendar-skeleton">
  <Card className="p-5">
    <div class="header flex items-center justify-center mb-10">
      <div class="flex justify-between w-full items-center">
        <ChevronLeftIcon className="size-4" />
        <div class="month-nav flex gap-5">
          <Skeleton className="w-16 h-8" />
          <Skeleton className="w-16 h-8" />
        </div>
        <ChevronRightIcon className="size-4" />
      </div>
    </div>
    <div class="flex flex-col space-y-2.5 md:space-y-3">
      {
        calendarPlaceholder.map((row, i) => (
          <div
            class={`flex space-x-2.5 md:space-x-3 ${i < 2 ? "justify-end" : ""}`}
          >
            {row.map((cell) => {
              if (draw(cell)) {
                return (
                  //   <div col={cell.row} row={cell.col} class="size-10">
                  <Skeleton className="size-8 md:size-10" />
                  //   </div>
                );
              }
            })}
          </div>
        ))
      }
    </div>
  </Card>
</div>
