---
import { AppointmentCalendar } from "../react/AppointmentCalendar";

import { actions } from "astro:actions";

const { data: bookedTimestamps, error: bookedError } = await Astro.callAction(
  actions.getBookedAppointemnts,
  {}
);

const { data: service, error: serviceError } = await Astro.callAction(
  actions.getService,
  { id: 1 }
);

const booked = bookedTimestamps?.map((t) => t.toJSDate());
const hasErrors = bookedError || serviceError;
console.log(hasErrors);
---

{
  service && (
    <AppointmentCalendar
      client:load
      disabled={booked}
      intervalInMinutes={30}
      openingTime={service.openingTime}
    />
  )
}

{hasErrors && <div>Oopsie error happened</div>}
