---
import { AppointmentCalendar } from "../react/AppointmentCalendar";

import { actions } from "astro:actions";

const { data: bookedTimestamps, error: bookedError } = await Astro.callAction(
  actions.getBookedAppointemnts,
  {}
);

const booked = bookedTimestamps?.map((t) => t.toJSDate());
// console.log(hasErrors);
---

<AppointmentCalendar client:load disabled={booked} />
{bookedError && <div>Oopsie error happened</div>}
