---
import { AppointmentCalendar } from "../react/AppointmentCalendar";

import { actions } from "astro:actions";
import Timeblocks from "./timeblocks.astro";

const { data: bookedTimestamps, error: bookedError } = await Astro.callAction(
  actions.getBookedAppointemnts,
  {}
);

const { data: service, error: serviceError } = await Astro.callAction(
  actions.getService,
  { id: 1 }
);

const booked = bookedTimestamps?.map((t) => t.toJSDate());
const hasErrors = bookedError || serviceError;
// console.log(hasErrors);
---

<div class="flex flex-col">
  {service && <AppointmentCalendar client:load disabled={booked} />}
  {service && <Timeblocks service={service} client:load />}
</div>
{hasErrors && <div>Oopsie error happened</div>}
