---
import { AppointmentCalendar } from "../react/AppointmentCalendar";

import { actions } from "astro:actions";

const { data: bookedTimestamps, error: bookedError } = await Astro.callAction(
  actions.getBookedAppointemnts,
  {}
);

const booked = bookedTimestamps?.map((t) => t.toJSDate());
const hasErrors = bookedError;
// console.log(hasErrors);
---

<div class="flex flex-col">
  <AppointmentCalendar client:load disabled={booked} />
</div>
{hasErrors && <div>Oopsie error happened</div>}
