---
import type { ErrorType } from "src/lib/types";
import { isValidationError } from "src/lib/utils";

interface Props {
  errors: ErrorType[];
}
const { errors } = Astro.props;
const err = errors[0];
---

{
  errors.length > 0 && (
    <div>
      <p>{err?.message}</p>
      {isValidationError(err) && err?.details?.map((d) => <p>{d}</p>)}
    </div>
  )
}
