---
import { Card } from "@/ui/card";
import type { LocationLight } from "src/lib/schema";
import { Flower2 } from "lucide-react";

interface Props {
  validLocationLight: LocationLight & { description?: string | undefined };
}
const { validLocationLight: validLocationLight } = Astro.props;
---

<div
  class="flex flex-col w-full overflow-hidden gap-5 md:grid md:grid-cols-5 md:max-w-256"
>
  <Card className="items-center p-2.5 md:col-span-full md:row-start-1">
    <p class="text-xl py-2">
      {validLocationLight.name}
    </p>
  </Card>
  <Card
    className="items-center justify-center p-2.5 w-full h-32 bg-purple-200 md:col-span-2 row-start-2 md:w-full md:h-full"
  >
    <Flower2 size={64} />
  </Card>
  <Card
    className="py-2.5 px-4 h-24 md:col-span-3 md:col-start-3 md:row-start-2 md:row-end-3 md:min-h-64 md:items-center md:justify-center md:w-104"
  >
    <p class="break-words text-center">
      {validLocationLight.description}
    </p>
  </Card>
</div>
