---
import "leaflet/dist/leaflet.css";
---

<div id="map" class="h-64 w-64"></div>

<script>
  import L from "leaflet";
  const center = [42.8703, 74.6116];
  const zoom = 13;

  window.addEventListener("DOMContentLoaded", () => {
    const map = L.map("map").setView(center, zoom);
    let marker: L.Marker | undefined;
    map.addEventListener("click", (e) => {
      if (!marker) {
        marker = L.marker(e.latlng).addTo(map);
      }
      marker.setLatLng(e.latlng);
    });
    map.addEventListener("resize", () => map.invalidateSize());

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
      map
    );

    // L.marker(center).addTo(map);
  });
</script>
