---
interface Props {
  services: Service[];
}
import { Card } from "@/ui/card";
import BarbershopLogo from "src/icons/barbershop.svg";
import NailPolishLogo from "src/icons/nail-polish.svg";
import type { Service } from "src/lib/schema";

const { services } = Astro.props;

const commonContainerClasses = [
  "rounded-full",
  "p-2",
  "flex",
  "items-center",
  "justify-center",
  "size-12",
];

const iconMap = [
  {
    tag: "hairdressing",
    Icon: BarbershopLogo,
    classList: ["bg-yellow-100"],
  },
  {
    tag: "nail-polish",
    Icon: NailPolishLogo,
    classList: ["bg-pink-100"],
  },
];

const availableServicesIcons = iconMap.filter((i) =>
  services.map((s) => s.tag).includes(i.tag)
);
---

<div class="flex space-x-2 flex-wrap">
  {
    availableServicesIcons.map((i) => (
      <Card className={[...commonContainerClasses, ...i.classList].join(" ")}>
        <i.Icon />
      </Card>
      //   <div class={[...commonContainerClasses, ...i.classList].join(" ")}>
      //     <i.Icon />
      //   </div>
    ))
  }
</div>
