---
interface Props {
  services: Service[];
}
import { commonContainerClasses, iconMap } from "src/lib/icons";
import type { Service } from "src/lib/schema";

const { services } = Astro.props;

const availableServicesIcons = iconMap.filter((i) =>
  services.map((s) => s.tag).includes(i.tag)
);
---

<div class="flex space-x-2">
  {
    availableServicesIcons.map((i) => (
      <div class={[...commonContainerClasses, ...i.classList].join(" ")}>
        <i.Icon width={32} height={32} />
      </div>
    ))
  }
</div>
