---
import { Card } from "@/ui/card";
import type { ServiceValidated } from "root/src/types";
import { Flower2 } from "lucide-react";

interface Props {
  service: ServiceValidated;
}
const { service } = Astro.props;
---

<div class="flex flex-col overflow-hidden gap-5">
  <Card className="items-center justify-center p-2.5 w-full h-32 bg-purple-200">
    <Flower2 size={64} />
  </Card>
  <Card className="items-center p-2.5">
    <p>
      {service.name}
    </p>
  </Card>
  <Card className="py-2.5 px-4">
    <p class="break-words">
      {service.description}
    </p>
  </Card>
</div>
