---
interface Props {
  services: Service[];
}
import { Card } from "@/ui/card";
import BarbershopLogo from "src/icons/barbershop.svg";
import NailPolishLogo from "src/icons/nail-polish.svg";
import type { Service } from "src/lib/schema";

const { services } = Astro.props;

const commonContainerClasses = [
  "rounded-full",
  "p-2",
  "flex",
  "items-center",
  "justify-center",
  "size-12",
];

const iconMap = [
  {
    tag: "hairdressing",
    Icon: BarbershopLogo,
    classList: ["bg-yellow-100"],
  },
  {
    tag: "nail-polish",
    Icon: NailPolishLogo,
    classList: ["bg-pink-100"],
  },
];

// const availableServicesIcons = iconMap.filter((i) =>
//   services.map((s) => s.tag).includes(i.tag)
// );

const iconServiceData = iconMap
  .map((i) => {
    const x = services.find((s) => s.tag === i.tag);
    if (!x) return;
    return { ...i, name: x.name };
  })
  .filter((d) => d !== undefined);
---

<div class="flex space-x-2 flex-wrap gap-2 justify-center max-w-76">
  {
    iconServiceData.map((i) => (
      <Card className="flex flex-row py-1 px-2 max-w-full items-center justify-center gap-2 mr-0">
        <p>{i.name}</p>
        <div class={[...commonContainerClasses, ...i.classList].join(" ")}>
          <i.Icon width={32} height={32} />
        </div>
      </Card>
    ))
  }
</div>
