---
// import { baseUrl } from "../../env";
import { baseUrl } from "src/env";
interface Props {
  timeout: number;
}

console.log(baseUrl);

const { timeout } = Astro.props;
const getTagline = async () => {
  const resp = await fetch(`${baseUrl}/tagline`);
  const result = (await resp.json()) as { tagline: string };
  const { tagline } = result;
  return tagline;
};
// const getTagline = async () => {
//   return new Promise((resolve) => {
//     setTimeout(() => {
//       resolve("hello world");
//     }, timeout);
//   });
// };
console.log(Astro.request.headers.get("referer"));

const tagline = (await getTagline()) as string;
---

<p>{tagline}{timeout}</p>
