---
import { Card } from "@/ui/card";
// import { Dialog, DialogContent } from "@/ui/dialog";
// import { Input } from "@/ui/input";
import { actions } from "astro:actions";
import ErrorMessage from "components/astro/error-message.astro";
// import LocationCard from "components/astro/location-card.astro";
import CenteredLayout from "src/layouts/CenteredLayout.astro";
import i18n from "src/lib/i18n";
// import { serviceStyles } from "src/lib/service";
import { LocationGallery } from "src/components/react/LocationGallery";

export const prerender = false;
const { data: locations, error } = await Astro.callAction(
  actions.location.getAllLocations,
  {}
);

if (error) {
  console.log("Error: ", error);
}

// console.log("brands: ", JSON.stringify(brands, null, 2));
---

<CenteredLayout>
  <div class="w-full p-8 md:w-208 lg:w-278">
    <div class="flex flex-col gap-5">
      <Card
        className="w-full bg-accent h-24 text-center justify-center text-xl mb-12"
      >
        <p>{i18n.t("brands.title")}</p>
      </Card>
      {locations && <LocationGallery locations={locations} client:load />}
    </div>
    {error && <ErrorMessage errors={[error]} />}
  </div>
</CenteredLayout>
