---
import { Button } from "@/ui/button";
import MapComponent from "components/astro/MapComponent.astro";
import "leaflet/dist/leaflet.css";
import CenteredLayout from "src/layouts/CenteredLayout.astro";

export const prerender = false;
---

<CenteredLayout>
  <div>
    <p>hello world</p>
    <form id="location-create-form">
      <MapComponent client:load />
      <Button
        onClick={(e) => {
          e.preventDefault();
          console.log();
        }}>123</Button
      >
    </form>
  </div>
</CenteredLayout>

<script>
  const form = document
    .getElementById("location-create-form")
    ?.addEventListener("submit", (e) => e.preventDefault());
  // const map = document.getElementById("map");
  document.querySelectorAll("button").forEach((btn) => {
    btn.addEventListener("click", function () {
      console.log(window.marker.getLatLng());
    });
  });

  //   form?.addEventListener("submit", (e) => {
  //     if map.
  //   });
</script>
