---
import Form from "src/components/astro/form.astro";
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex justify-center items-center min-w-screen">
    <div class="flex flex-col items-center gap-5">
      <Form />
    </div>
  </div>
</BaseLayout>
