---
export const prerender = false;
import BaseLayout from "src/layouts/BaseLayout.astro";
import "../components/astro/tagline.astro";
import { AppointmentCalendar } from "src/components/react/AppointmentCalendar";
import { baseUrl } from "src/env";
// import Tagline from "../components/astro/tagline.astro";
const fetchAvailable = async () => {
  const resp = await fetch(`${baseUrl}/appointments/available`);
  const result = (await resp.json()) as Date[];
  return result;
};

const available = await fetchAvailable();

console.log(Astro.request.method);
// Astro.response.headers.set("Content-Type", "application/json");
---

<BaseLayout>
  <div class="flex justify-center items-center min-w-screen">
    <AppointmentCalendar server:defer client:load disabled={available}>
      <p slot="fallback">Loading calendar...</p>
    </AppointmentCalendar>
  </div>
</BaseLayout>
