---
export const prerender = false;
import BaseLayout from "src/layouts/BaseLayout.astro";
import Calendar from "src/components/astro/calendar.astro";

console.log(Astro.request.method);
---

<BaseLayout>
  <div class="flex justify-center items-center min-w-screen">
    <Calendar server:defer>
      <p slot="fallback">Loading calendar...</p>
    </Calendar>
  </div>
</BaseLayout>
