---
export const prerender = false;
import BaseLayout from "src/layouts/BaseLayout.astro";
import Calendar from "src/components/astro/calendar.astro";
import CalendarSkeleton from "src/components/astro/calendar-skeleton.astro";

// console.log(Astro.request.method);
---

<BaseLayout>
  <div class="flex justify-center items-center min-w-screen">
    <Calendar server:defer>
      <CalendarSkeleton slot="fallback" />
      <!-- <p slot="fallback">Loading calendar...</p> -->
    </Calendar>
  </div>
</BaseLayout>
