---
export const prerender = false;
import CenteredLayout from "src/layouts/CenteredLayout.astro";

// we're fetching the service here because we'll need it for other stuff on this page later

// console.log(Astro.request.method);
---

<CenteredLayout>
  <p>Hello world</p>
</CenteredLayout>
