---
import { actions } from "astro:actions";
import LocationCard from "components/astro/location-card.astro";
import ServiceIconsDescription from "components/astro/service-icons-description.astro";
import CenteredLayout from "src/layouts/CenteredLayout.astro";

export const prerender = false;
const { id } = Astro.params;

if (!id) {
  return Astro.redirect(400);
}

const { data: establishment, error: _error } = await Astro.callAction(
  actions.establishment.getEstablishment,
  { id: id }
);

if (_error) {
  return;
}

const allServices = new Set(establishment.locations.flatMap((l) => l.services));
---

<CenteredLayout>
  <div class="flex flex-col space-y-2.5">
    <p class="text-center text-2xl">
      {establishment?.name}
    </p>
    <p>
      {establishment?.description}
    </p>
    {(<ServiceIconsDescription services={[...allServices]} />)}
    <p>
      {establishment?.locations.map((loc) => <LocationCard location={loc} />)}
    </p>
  </div>
</CenteredLayout>
