---
import { Card } from "@/ui/card";
import { actions } from "astro:actions";
import ErrorMessage from "components/astro/error-message.astro";
import EstablishmentCard from "components/astro/establishment-card.astro";
import CenteredLayout from "src/layouts/CenteredLayout.astro";

const { data: establishments, error } = await Astro.callAction(
  actions.establishment.getAllEstablishments,
  {}
);

console.log("establishments: ", JSON.stringify(establishments, null, 2));
---

<CenteredLayout>
  <div class="w-64">
    <Card
      className="w-full bg-pink-200 h-24 text-center justify-center text-xl mb-12"
    >
      <p>Establishments</p>
    </Card>
    {
      establishments && (
        <ul class="flex flex-col gap-6">
          {establishments.map((est) => (
            <EstablishmentCard establishment={est} />
          ))}
        </ul>
      )
    }
    {error && <ErrorMessage errors={[error]} />}
  </div>
</CenteredLayout>
